@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;700;800&display=swap');
@import 'variables';

*,
*:link,
*:visited,
*:active {margin: 0;padding: 0; text-decoration: none; list-style: none; color: currentColor}

@import 'components/typography';
@import 'components/button';
@import 'components/video';
@import 'components/card';

@import "views/header";
@import "views/body";
@import "views/footer";


html {font-size: 10px;font-family: $font-family-primary;color: $color-primary-2; height: 100%}
body {position: relative; height: 100%}
main {position: relative}

//.header {position: fixed; top: 0; width: 100%;}
.container {width: 1200px; margin: 0 auto;}
.overlay-bg {cursor: initial; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; z-index: -1;}


@media only screen and (max-width: $big-screen-breakpoint) and (min-width: $small-screen-breakpoint) {
  .container {width: 900px;}
}

@media only screen and (max-width: $small-screen-breakpoint) and (min-width: $tablet-breakpoint) {
  .container {width: 768px;}
}

@media only screen and (max-width: $tablet-breakpoint) {
  .container {width: 80%;}
}