    // FONTS
    $font-family-primary: 'Muli', sans-serif;
    
    $font-size-xs: 1.6rem;
    $font-size-sm: 1.8rem;
    $font-size-md: 2.4rem;
    $font-size-lg: 4rem;
    $font-size-xl: 5rem;

    $font-weight-light: 300;
    $font-weight-regular: 400;
    $font-weight-bold: 500;
    $font-weight-lg-bold: 700;
    $font-weight-xl-bold: 800;

    // THEMES COLORS
    $color-primary-1: #7B3FF2;
    $color-primary-2: #010a60;
    $color-primary-3: #8F8EEF;
    $color-primary-4: #FFFFFF;
    $color-primary-5: #707070;
    $color-primary-6: #777777;

    $color-secondary-1: #ED6982;
    $color-secondary-2: #FFA52E;
    $color-secondary-3: #42DB9C;
    $color-secondary-4: #DE4763;
    $color-secondary-5: #FFC35A;
    $color-secondary-6: #69F9C2;

    $color-hover-mode-1: #5924c3;
    $color-hover-mode-2: #f79109;

    $color-disabled: #bfbfbf;
    
    $color-bg-1: #eff2f8;
    $color-bg-2: #ffac29;
    $color-bg-3: #d6d6d6;

    // BREAKPOINTS
    $big-screen-breakpoint: 1250px;
    $small-screen-breakpoint: 1024px;
    $tablet-breakpoint: 768px;
    $mobile-breakpoint: 320px;